<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7DezHJ8uyV1flxSCX5YeY4ck8Q6edD0o</string>
	<key>GCM_SENDER_ID</key>
	<string>847381653180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.group22.fitpal.fitpal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fitpalv3</string>
	<key>STORAGE_BUCKET</key>
	<string>fitpalv3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847381653180:ios:72f4efe5383d83ad0b52b9</string>
</dict>
</plist>